@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

#responsividade {
    width: 96vw;
    overflow-x: auto; /* Significa que a tabela pode ser rolada horizontalmente, mas apenas ela, o restante do conteúdo não será afetada */
}

table {
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2em;
}

th, td {
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}