@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/wallpaper003.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}