@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#espaco{
    background-image: url('imagens/espaco.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: cadetblue;
    height: 100vh;
    position: relative;
}

#astronauta{
    height: 508px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image: url('imagens/astronauta.png');
}