@charset "UTF-8";

table {
    width: 400px;
    border-collapse: collapse;
}

th {
    border: 1px solid #000;
    padding: 8px;
    background-color: gray;
    color: white;
}

td {
    border: 1px solid #000;
    padding: 8px;
}

tfoot td {
    font-weight: bold;
    background-color: gray;
    color: white;
    text-align: center;
}

.num{
    text-align: right;
}