@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 2em;
}

thead {
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}

th, td {
    width: 125px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

.media {
    background-color: gray;
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 1.2em;
}

.nota-media {
    background-color: gray;
    color: white;
    font-size: 1.2em;
}
