@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table{ /* tabela */
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    padding: 5px;
    text-align: center; /* Alinhamento horizontal */
    vertical-align: middle; /* Alinhamento vertical */
}

.numero{
    text-align: right;
    background-color: lightgreen;
}