@charset "UTF-8";

table {
    width: 400px;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: lightgray;
}

tbody tr:nth-child(even) { /* ou pode colocar ao invês de even 2n */
    background-color: lightgray;
}

th {
    border: 1px solid #000;
    padding: 8px;
    background-color: gray;
    color: white;
}

td {
    border: 1px solid #000;
    padding: 8px;
}

tfoot td {
    font-weight: bold;
    background-color: gray;
    color: white;
    text-align: center;
}

.num{
    text-align: right;
}