@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
}

caption {
    font-weight: bolder;
    font-size: 1.5em;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 80px;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 80px;
}

.c-nome {
    background-color: lightblue;
}

.c-grupo {
    background-color: pink;
}