@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.sriracha-regular {
  font-family: "Sriracha", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte1: 'Arial', sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header{
    background-color: black;
    color: white;
    height: 350px;
    text-align: center;
}

header h1{
    font-family: var(--fonte2);
    font-size: bold;
    font-size: 9em;
    padding-top: 90px;
}

header p{
    font-size: 1.2em;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main p{
    font-family: var(--fonte3);
    width: 450px;
    font-size: 25px;
    text-align: justify;
    margin-left: 50px;
    margin-top: 50px;
}